@font-face {
  font-family: emphasis;
  src: url(Bangers-Regular.ttf);
}
@font-face {
  font-family: links;
  src: url(BungeeInline-Regular.ttf);
}

body {
  background-color: #011627;
}
#title {
  font-family: links;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #20a4f3;
  text-align: center;
  height: 6vh;
  padding-bottom: 1%;
  font-size: xx-large;
  color: #ffee00;
  border-radius: 2vh;
  margin-bottom: 5vh;
}

#container {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 85vh;
  width: 80vw;
  justify-content: space-between;
}
#container div {
  height: 80%;
  margin: 1vw;
}
#container div img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
#container div a {
  font-family: emphasis;
  font-size: x-large;
  text-align: center;
  color: #20a4f3;
  text-decoration: none;
}
#container div :hover {
  color: white;
}

img:hover {
  box-shadow: 5px 5px #2ec4b6;
}
