#heading{
    color: white;
    text-align: center;
    font-size: 10vh;
    justify-content: center;
}

#grid{
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#advt{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#advt a img{
    z-index: 1;
    cursor: pointer;
    min-height: 200px;
    min-width: auto;
    max-height: 100%;
    max-width: 100%;
    box-shadow:-2px -2px 4px 5px white, 2px 2px 4px 5px white;
}

.content{
    z-index: 2;
    visibility: hidden;
    position: fixed;
    top:5vh;
    right: 90vw;
    left: 5vw;
    background-color: white;
    opacity: 0.9;
    height:80vh;
    width: 70vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:10vw;
    margin-right:10vw;
    text-align: center;
    font-size: x-large;
    overflow: scroll;
}

#text{
    padding: 30px;
}

#x{
    cursor: pointer;
    color:red;
    z-index: 2;
    position: fixed;
    top:16vh;
    right:22vh;
    border: 0;
    visibility: hidden;
    font-size: xx-large;
}