#heading{
    color: white;
    text-align: center;
    font-size: 10vh;
    justify-content: center;
}

#grid{
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#advt{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#advt a img{
    min-height: 20vh;
    min-width: 13vh;
    max-height: 100%;
    max-width: 100%;
    box-shadow:-2px -2px 4px 5px white, 2px 2px 4px 5px white;
}