#heading{
    color: white;
    text-align: center;
    font-size: 10vh;
    justify-content: center;
}

#grid{
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    justify-content: center;
    background-image: url("BootyBay2.png");
    box-shadow: 10px 10px 40px 20px whitesmoke;
}