@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: #000000;
}
