@font-face {
  font-family: emphasis;
  src: url(Bangers-Regular.ttf);
}
@font-face {
  font-family: links;
  src: url(BungeeInline-Regular.ttf);
}

body {
  transition: all 1s ease;
  background-color: #011627;
}
#overlay {
  transition: opacity ease-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 10vh;
}
#overlay img {
  height: 80vh;
  width: 60vw;
  border-radius: 20%;
  box-shadow: -5px -5px 20px 20px #2ec4b6;
}
#title {
  cursor: pointer;
  font-family: links;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #20a4f3;
  text-align: center;
  height: 6vh;
  padding-bottom: 1%;
  font-size: xx-large;
  color: #ffee00;
  border-radius: 2vh;
  margin-bottom: 5vh;
}

#container {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 85vh;
  width: 80vw;
  justify-content: space-between;
}
#container div {
  height: 80%;
  margin: 1vw;
}
#container div img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.5s ease-out;
}
#container div a {
  font-family: emphasis;
  font-size: x-large;
  text-align: center;
  color: #20a4f3;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
#container div :hover {
  color: white;
}

img:hover {
  box-shadow: 5px 5px #2ec4b6;
}

#title:hover #overlay {
  transition-delay: 3s;
  transition-duration: 1s;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1500px) {
  #title {
    font-size: x-large;
  }
}
@media (max-width: 1300px) {
  #title {
    font-size: large;
  }
}
@media (max-width: 1000px) {
  #title {
    font-size: small;
  }
  #container {
    display: block;
    height: 50vh;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  #container div {
    margin-bottom: 10vh;
  }
}
@media (max-width: 640px) {
  #title {
    display: block;
    height: fit-content;
    font-size: smaller;
  }
  #container {
    display: block;
    height: 30vh;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
