body{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vh;
}
#navbar{
    position: sticky;
    background-color: black;
    height: fit-content;
    box-shadow:-2px -2px 4px 5px red, 2px 2px 4px 5px red;
}
#navbar ul li{
    display: inline-flex;
    font-size: x-large;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
}
#gallery{
    min-height: 90vh;
    max-height: fit-content;
}

